/* Importing a Google Font */

@import url("https://p.typekit.net/p.css?s=1&k=scj0erd&ht=tk&f=42886.42889.42894.42897.42902.42905.42910.42913&a=54729714&app=typekit&e=css");
/* Changing the main font and background colour */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
	font-family: Raleway, sans-serif;
	background-color: #D5DDCB;
}

/* Changing the background colour for the header */

header {
	background-color: #A2A18F;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #A499A7;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
